<div class="product-other">
  <div>
    <strong><%= product.title %></strong>
    <div><%= product.price %></div>
  </div>

  <div class="add-mark">
    <label for="<%= product.id %>">Add to similar</label>
    <input
      type="checkbox"
      id="<%= product.id %>"
      value="<%= product.id %>"
      name="productsToAddSimilar"
    />
  </div>
</div>
